@font-face {
    font-family: quicksand;
    src: url("../fonts/quicksand/Quicksand-Regular.otf");
}
@font-face {
    font-family: blackjack;
    src: url('../fonts/blackjack/blackjack.otf');
}

body, div, p, h1, h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(to bottom right, rgba(23, 51, 17, 0.7), rgba(25, 7, 48, 0.7)), url('../patterns/full-bloom/full-bloom.png');
    height: 100%;
}

body {
    font-family: blackjack, serif;
    color: #ddd;
}

h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: 1px 1px 1px #111, -1px 1px 1px #111, 1px -1px 1px #111, -1px -1px 1px #111;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-family: quicksand, serif;
}

#framesContainer {
    width: 96%;
    margin: 1em auto;
    border: 1px solid white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    cursor: url(../cursors/tap.png), pointer;
}

.frames {
    font-size: 1.5em;
    transition: 1s;
    min-height: 2em;
    min-width: 3em;
    line-height: 2em;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: .2em;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: .2em .1em;
}
.frames:hover {
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}